USE [master]
GO
/****** Object:  Database [ARC1]    Script Date: 11/03/2011 02:17:55 ******/
CREATE DATABASE [ARC1] ON  PRIMARY 
( NAME = N'ARC1', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ARC1.mdf' , SIZE = 2240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ARC1_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\ARC1_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ARC1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ARC1]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/03/2011 02:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] NOT NULL,
	[FName] [varchar](50) NULL,
	[MName] [varchar](50) NULL,
	[LName] [varchar](50) NULL,
	[Father_Name] [varchar](50) NULL,
	[Mother_Name] [varchar](50) NULL,
	[Gender] [char](2) NULL,
	[Address1] [varchar](500) NULL,
	[Category] [varchar](20) NULL,
	[landline_no] [varchar](20) NULL,
	[mobile_no] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Qualification1]    Script Date: 11/03/2011 02:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Qualification1](
	[CET_Seatno] [int] NOT NULL,
	[CET_Score] [int] NULL,
	[XII_Board] [varchar](10) NULL,
	[XII_Score] [int] NULL,
	[X_Board] [varchar](10) NULL,
	[X_Score] [int] NULL,
	[AIEEE_Seatno] [int] NULL,
	[AIEEE_Score] [int] NULL,
	[Qid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CET_Seatno] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[choices]    Script Date: 11/03/2011 02:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[choices](
	[Cid] [int] NOT NULL,
	[colg_name1] [varchar](50) NULL,
	[Branch1] [varchar](50) NULL,
	[colg_name2] [varchar](50) NULL,
	[Branch2] [varchar](50) NULL,
	[colg_name3] [varchar](50) NULL,
	[Branch3] [varchar](50) NULL,
	[colg_name4] [varchar](50) NULL,
	[Branch4] [varchar](50) NULL,
	[colg_name5] [varchar](50) NULL,
	[Branch5] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[Student_details]    Script Date: 11/03/2011 02:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Student_details] as
 select * from Student,Qualification1,choices
 where Student.id=Qualification1.Qid and Student.id=choices.Cid
GO
